@use '@utrecht/form-field-css';

@use '@/scss/bem';

/**
 * Styling and layout for the file upload as a whole, including the description, errors,
 * dropzone/upload button and list/ of the uploaded files.
 */
.openforms-file-upload {
  display: flex;
  flex-direction: column;
  row-gap: var(--of-file-upload-row-gap);

  &:has(.openforms-upload-input:not(.sr-only)) {
    --_of-file-upload-uploads-padding-block-start: var(
      --of-file-upload-with-dropzone-uploads-padding-block-start
    );
  }

  @include bem.element('uploads') {
    padding-block-end: var(--of-file-upload-uploads-padding-block-end);
    padding-block-start: var(
      --_of-file-upload-uploads-padding-block-start,
      var(--of-file-upload-uploads-padding-block-start)
    );
  }
}
