.openforms-uploaded-files-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--of-uploaded-file-list-row-gap);

  list-style: none;
  padding: 0;
  margin: 0;
}

// TODO: remove before merge!
.openforms-theme {
  --of-uploaded-file-list-row-gap: 8px;
}
