@use '@utrecht/form-field-css';
@use '@utrecht/form-fieldset-css';
@use '@utrecht/radio-button-css';

@use '@/scss/bem';

.openforms-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: var(--of-radio-group-row-gap, 12px);

  .utrecht-form-field--radio {
    padding-block-start: var(--of-radio-group-option-label-padding-block-start, 0);

    .utrecht-form-field-description {
      margin-block-end: var(--of-radio-group-option-description-margin-block-end, 0);
      color: var(
        --of-radio-group-option-description-color,
        var(--utrecht-form-field-description-color)
      );
      font-style: var(
        --of-radio-group-option-description-font-style,
        var(--utrecht-form-field-description-font-style)
      );
    }
  }

  .utrecht-form-label--radio {
    font-size: var(--of-radio-group-option-label-font-size, var(--utrecht-form-label-font-size));
    line-height: var(--of-radio-group-option-label-line-height, var(--utrecht-radio-button-size));
  }
}

.utrecht-form-fieldset {
  @include bem.modifier('openforms-radio') {
    // margins don't collapse for the fieldset legend / error message combination
    .utrecht-form-field-error-message {
      margin-block-start: var(--of-radio-group-error-message-margin-block-start, 0);
    }
  }
}
