.openforms-addressnl-display {
  color: var(--of-addressnl-display-color);
  font-family: var(--of-addressnl-display-font-family, inherit);
  font-style: var(--of-addressnl-display-font-style, normal);
  font-weight: var(--of-addressnl-display-font-weight);
  line-height: var(--of-addressnl-display-line-height);
}
