@use '@utrecht/form-field-css';
@use '@utrecht/custom-checkbox-css';

// extension to be able to position the faq items
.utrecht-form-field--checkbox.utrecht-form-field--openforms {
  grid-template-areas:
    'error-message error-message'
    'input label'
    'input description'
    'faqitems faqitems';

  // handle the readonly styles
  input[aria-readonly='true'] {
    cursor: var(--utrecht-action-disabled-cursor, revert);
    background-color: var(
      --utrecht-checkbox-disabled-background-color,
      var(--utrecht-form-control-read-only-background-color)
    );
    background-image: none;

    // adapted from utrecht "checked + disabled" stories/styles
    &:checked {
      border-color: var(
        --utrecht-checkbox-disabled-border-color,
        var(--utrecht-checkbox-border-color)
      );

      background-image: var(
        --of-utrecht-checkbox-read-only-background-image,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23767676' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
      );
    }
  }

  .openforms-faq-items {
    grid-area: faqitems;
  }

  .utrecht-form-label--checkbox {
    font-size: var(--of-utrecht-form-label-checkbox-font-size, var(--utrecht-form-label-font-size));
    line-height: var(--of-utrecht-form-label-checkbox-line-height, var(--utrecht-checkbox-size));
  }

  .utrecht-form-field__label {
    margin-block-end: var(
      --of-utrecht-form-field-checkbox-label-margin-block-end,
      var(--utrecht-form-field-label-margin-block-end)
    );
  }

  .utrecht-form-field-description {
    color: var(
      --of-utrecht-form-field-checkbox-description-color,
      var(--utrecht-form-field-description-color)
    );
    font-style: var(
      --of-utrecht-form-field-checkbox-description-font-style,
      var(--utrecht-form-field-description-font-style)
    );
  }
}
