@use '@utrecht/components/form-field';
@use '@utrecht/components/textbox';

@use '@/scss/bem';
@use '@/scss/form-field-override';

.openforms-datepicker-textbox {
  position: relative;

  @include bem.element('calendar-toggle') {
    position: absolute;
    padding: 0.5em;
    font-size: 150%;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    color: var(--of-color-fg-muted);
  }
}

.utrecht-textbox {
  @include bem.modifier('openforms') {
    font-weight: var(--of-input-font-weight, normal);
  }
}
