@use '@utrecht/components/heading-2';

@use '@/scss/bem';
@use '@/scss/responsive';

body:has(.openforms-modal[open]) {
  overflow: hidden;
}

.openforms-modal {
  --_of-modal-padding-block-start: var(--of-modal-padding-block-start, 40px);
  --_of-modal-padding-block-end: var(--of-modal-padding-block-end, 40px);
  --_of-modal-padding-inline-start: var(--of-modal-padding-inline-start, 40px);
  --_of-modal-padding-inline-end: var(--of-modal-padding-inline-end, 40px);

  --_of-modal-body-bleed-margin: var(--of-modal-body-bleed-margin, 2px);

  flex-direction: column;
  row-gap: var(--of-modal-row-gap, 20px);
  min-block-size: 20dvh;
  block-size: fit-content;
  max-block-size: 90dvh;
  inline-size: 90dvw;

  // ensure that the modal as a whole is scrollable, and that content (like outlines)
  // from the modal body can bleed into the blank space.
  padding-block-start: var(--_of-modal-padding-block-start);
  padding-block-end: var(--_of-modal-padding-block-end);
  padding-inline-start: var(--_of-modal-padding-inline-start);
  padding-inline-end: var(--_of-modal-padding-inline-end);

  background-color: var(--of-modal-background-color, white);
  border-color: var(--of-modal-border-color, #eee);
  border-style: solid;
  border-width: var(--of-modal-border-width, 1px);
  box-shadow: var(
    --of-modal-box-shadow,
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px rgba(0, 0, 0, 0.2)
  );
  box-sizing: border-box;

  &[open] {
    display: flex;
  }

  &::backdrop {
    background-color: var(--of-modal-overlay-background-color, rgba(255, 255, 255, 0.75));
    backdrop-filter: blur(1px);
  }

  @include responsive.desktop {
    inline-size: 50dvw;
    min-block-size: 30dvh;
    max-block-size: 50dvh;
  }

  @include bem.element('header') {
    background-color: var(--of-modal-header-background-color, inherit);
    display: block;
    // necessary to prevent the close button from overlapping the title, because it's
    // absolutely positioned. Unfortunately, calculating the offset + inline-size of
    // the button to automatically apply this is a complicated mess in CSS and using
    // explicit configuration is much easier to follow and maintain.
    margin-inline-end: var(--of-modal-header-margin-inline-end, 10px);
  }

  @include bem.element('close') {
    box-sizing: border-box;
    transition:
      transform ease 0.1s,
      opacity ease 0.1s;
    opacity: 0.5;
    font-size: 150%;

    // This button is only used to show an icon. With this the icon is centered.
    line-height: 1;

    // set the calculated close button inline-size + offset as space to reserve next
    // to the title.
    --_of-modal-close-hover-scale: 110%;
    --_of-modal-close-translate-offset: calc(var(--_of-modal-close-hover-scale) - 100%);
    // position: absolute removes it from the normal document flow, which prevents the
    // button including its passing from taking up vertical space inside the heading
    // element, which in turn prevents the button from pushing down the content and
    // creating a too-large gap between heading and body.
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    // necessary to avoid horizontal scrollbar due to scale(1.1);
    transform: translate(
      calc(-1 * var(--_of-modal-close-translate-offset)),
      var(--_of-modal-close-translate-offset)
    );

    &:focus {
      outline: revert;
    }

    &:hover {
      transform: translate(
          calc(-1 * var(--_of-modal-close-translate-offset)),
          var(--_of-modal-close-translate-offset)
        )
        scale(var(--_of-modal-close-hover-scale));
      opacity: 0.7;
    }
  }

  @include bem.element('title') {
    break-inside: avoid-column;
  }

  // we put a box/ring of blank space around the body so that outlines etc. can bleed
  // into the background and not be cut-off, which otherwise happens because of the
  // scroll behaviour. Disabling the scroll behaviour is obviously also not viable if
  // the content block-size exceeds the modal size.
  @include bem.element('body') {
    // overflow-y: auto implies overflow-x auto, they can't be decoupled
    overflow: auto;
    flex-grow: 1;
    overflow-wrap: break-word;

    // use negative margins that eat into the padding of the modal itself
    margin-block-end: calc(-1 * var(--_of-modal-body-bleed-margin));
    margin-block-start: calc(-1 * var(--_of-modal-body-bleed-margin));
    margin-inline-end: calc(-1 * var(--_of-modal-body-bleed-margin));
    margin-inline-start: calc(-1 * var(--_of-modal-body-bleed-margin));
    // ... and add the padding back on the container which acts as bleed area
    padding-block-end: var(--_of-modal-body-bleed-margin);
    padding-block-start: var(--_of-modal-body-bleed-margin);
    padding-inline-end: var(--_of-modal-body-bleed-margin);
    padding-inline-start: var(--_of-modal-body-bleed-margin);
  }
}
