// Taken from OF SDK src/scss/components/_form-field.scss

@use '@/scss/bem';

// Extensions on NL DS components
.utrecht-form-fieldset {
  @include bem.element('legend') {
    &:has(.utrecht-form-label--openforms) {
      margin-block-end: var(--utrecht-form-field-label-margin-block-end);
      margin-block-start: 0;
    }
  }
}

// Overrides of the utrecht form field styles for our own theme
.openforms-theme {
  .utrecht-form-fieldset {
    @include bem.modifier('openforms') {
      .utrecht-form-field-description {
        --utrecht-space-around: 1;
      }
    }
  }
}
