@use '@utrecht/components/button';
@use '@utrecht/calendar-css';

@use '@/scss/button-override';

.openforms-theme .utrecht-calendar {
  .utrecht-calendar {
    &__table-days-item-day {
      &--selected {
        text-decoration: var(
          --of-datepicker-table-days-item-day-selected-text-decoration,
          underline
        );
      }
    }
  }
}
