@use '@utrecht/icon-css';
@use '@utrecht/link-button-css';

@use '@/scss/bem';

.openforms-faq-items {
  display: flex;
  flex-direction: column;
  row-gap: var(--of-faq-items-row-gap, 8px);
  align-items: flex-start;
  padding-block-start: var(--of-faq-items-padding-block-start, 8px);
}

.openforms-faq-item {
  // allow themes to define their own spacings - by default this removes all padding
  --utrecht-button-padding-inline-end: var(--of-faq-item-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--of-faq-item-padding-inline-start);
  --utrecht-button-padding-block-end: var(--of-faq-item-padding-block-end);
  --utrecht-button-padding-block-start: var(--of-faq-item-padding-block-start);

  --utrecht-icon-color: var(--of-faq-item-icon-color);
  --utrecht-link-text-decoration: var(--of-faq-item-title-text-decoration);

  @include bem.element('title') {
    color: var(--of-faq-item-title-color);
    font-size: var(--of-faq-item-title-font-size);
    font-weight: var(--of-faq-item-title-font-weight);
    line-height: var(--of-faq-item-title-line-height);

    &:hover {
      text-decoration: var(--of-faq-item-title-hover-text-decoration);
    }
  }
}
