@use '@/scss/bem';

// Extensions available to all themes - the styling options for the utrecht-form-fieldset
// component are very limited.
.utrecht-form-fieldset {
  @include bem.modifier('openforms') {
    // the actual fieldset, containing legend & content.
    // Note that display: flex is not an option because fieldset/legend don't honour
    // this layout mode.
    @include bem.element('legend') {
      margin-block-end: var(--of-utrecht-form-fieldset-margin-block-end);

      &.sr-only {
        display: block;
      }

      @include bem.modifier('with-border') {
        display: flex;
        align-items: center;
        gap: var(--of-utrecht-form-fieldset-legend-border-gap);

        &:before,
        &:after {
          content: '';
          border-block-start-style: var(--of-utrecht-form-fieldset-legend-border-style);
          border-block-start-width: var(--of-utrecht-form-fieldset-legend-border-width);
          border-block-start-color: var(--of-utrecht-form-fieldset-legend-border-color);
        }

        &:before {
          inline-size: var(--of-utrecht-form-fieldset-legend-border-before-inline-size, auto);
          flex-grow: var(--of-utrecht-form-fieldset-legend-border-before-flex-grow, 0);
        }

        &:after {
          inline-size: var(--of-utrecht-form-fieldset-legend-border-after-inline-size, auto);
          flex-grow: var(--of-utrecht-form-fieldset-legend-border-after-flex-grow, 0);
        }
      }

      @include bem.modifier('openforms-tooltip') {
        .openforms-fieldset-legend-content {
          display: flex;
          align-items: var(--of-utrecht-form-field-label-tooltip-align-items, center);
          column-gap: var(--of-utrecht-form-field-label-tooltip-column-gap, 4px);

          // prevent the tooltip from taking the same color as the legend itself
          .openforms-tooltip {
            color: var(--utrecht-document-color, var(--utrecht-form-label-color));
          }
        }
      }
    }

    // margins of the legend & error message components don't collapse
    @include bem.element('legend') {
      & ~ .utrecht-form-field-error-message {
        margin-block-start: var(--of-utrecht-form-fieldset-error-message-margin-block-start, 0);
      }
    }
  }
}
