@use '@utrecht/button-group-css';
@use '@utrecht/form-field-css';
@use '@utrecht/form-fieldset-css';

@use '@/scss/bem';
@use '@/scss/sr-only.scss';

.openforms-multifield {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: var(--of-multifield-gap, 8px);

  @include bem.element('field') {
    list-style-type: none;
    max-inline-size: var(--of-multifield-field-max-inline-size, 100%);

    .utrecht-form-field__label {
      @extend .sr-only;
    }
  }

  @include bem.element('input-container') {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: var(
      --of-multifield-input-container-column-gap,
      var(--of-multifield-field-column-gap, 2px)
    );
    max-inline-size: var(--of-multifield-input-container-max-inline-size, 100%);
  }

  @include bem.element('remove-button') {
    position: relative;
    inset-block-start: var(--of-multifield-remove-button-inset-block-start);
  }
}

.openforms-multifield-container {
  .openforms-multifield + .utrecht-button-group {
    margin-block-start: var(--of-multifield-container-button-group-margin-block-start, 8px);
  }
}
