@use '@utrecht/form-field-error-message-css';

@use '@/scss/bem';

// Extensions available to all themes
.utrecht-form-field {
  // TODO: check if we can better use flexbox/grid on the form-field and specify row gaps
  @include bem.element('error-message') {
    &:has(.utrecht-form-field-error-message--openforms-errors) {
      padding-block-end: var(--of-utrecht-form-field-error-message-padding-block-end, 8px);
      padding-block-start: var(--of-utrecht-form-field-error-message-padding-block-start, 8px);
    }
  }
}

// Extensions available to all themes
.utrecht-form-field-error-message {
  @include bem.modifier('openforms-errors') {
    overflow-wrap: break-word;
    font-weight: var(--of-utrecht-form-field-description-errors-font-weight, inherit);
    line-height: var(--of-utrecht-form-field-description-errors-line-height, inherit);
  }
}
