@use '@utrecht/form-field-error-message-css';

@use '@/scss/bem';

// Extensions available to all themes
.utrecht-form-field-error-message {
  @include bem.modifier('openforms-errors') {
    // the --distanced modifier is not included in the error-message component CSS, so
    // we need to specify this manually. Note that this deliberately uses margin
    // collapse with preceding description elements.
    --utrecht-space-around: 1;

    overflow-wrap: break-word;
    font-weight: var(--of-utrecht-form-field-description-errors-font-weight, inherit);

    // multi-message validation errors are rendered with a newline character. Preserving
    // newlines ensures that they're also visually separated.
    // It would be better to use a list for this, but that's currently not possible with
    // Zod/Formik.
    white-space: var(--of-utrecht-form-field-error-message-white-space, preserve-breaks wrap);
  }
}
